html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: white;
  }
}

.night {
  position: absolute;
  top: 0;
  left: 0;
  width: 91%;
  height: 100vh;
  background-position-x: center;
  background-size: cover;
  animation: animateBg 50s linear;
  animation-iteration-count: infinite;
  overflow: hidden;
  z-index: 1;
}
@keyframes animateBg {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.star {
  position: absolute;
  z-index: 5;
  width: 4px;
  height: 4px;
  background: rgb(251, 255, 255);
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 3s linear;
  animation-iteration-count: infinite;
}
.star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, rgb(244, 250, 250), transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
}
.star:nth-child(1) {
  top: 0;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

.star:nth-child(2) {
  top: 0;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.star:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

.star:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

.star:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

.star:nth-child(6) {
  top: 0;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.star:nth-child(7) {
  top: 300px;
  right: 0px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 1.75s;
}

.star:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

.star:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

.star:nth-child(10) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}

#picContainer {
  background: rgba(218, 218, 218, 1);
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: auto;
  width: 27%;
}

a {
  color: #111;
}

.photo {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  display: block;
  padding: 15px;
}

.photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(30%) contrast(120%);
  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, 0.2);
  display: block;
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: -10px;
}

.photo:hover img {
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.photo .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -10px;
}

.photo .glow {
  display: block;
  position: absolute;
  width: 20%;
  height: 500%;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-1200%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.photo:hover #myName {
  color: #8691b8;
}

#myName:hover {
  color: #8d98c2;
}

.photo:hover img,
.photo:hover .glow-wrap {
  margin-top: 0;
}

#myName {
  position: absolute;
  z-index: 1;
  transform: translate(-25%, -65%);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  line-height: 1.2;
  color: #344270;
}

@media (max-width: 1200.98px) {
  #picContainer {
    width: 60%;
  }
}

@media (max-width: 840px) {
  #picContainer {
    width: 70%;
  }
}

@media (max-width: 575.98px) {
  #picContainer {
    width: 80%;
  }
}

@media (min-width: 2000px) {
  #picContainer {
    width: 20%;
  }
}

#cover {
  background-color: #2d3550;
  z-index: 0;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
}

#cover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 20px #ffffff inset;
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
} */
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
  /* clip-path: circle(25px at calc(0% + 45px) 45px); */
  background: #000;
  clip-path: circle(30px at calc(100% - 70px) 70px);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
#active:checked ~ .wrapper {
  clip-path: circle(85%);
}
.menu-btn {
  position: fixed;
  z-index: 3;
  right: 40px;
  /* left: 20px; */
  top: 40px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
  /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
  /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
  background: #000;
  transition: all 0.3s ease-in-out;
}
#active:checked ~ .menu-btn {
  color: #fff;
}
#active:checked ~ .menu-btn i:before {
  content: "\f00d";
}
.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}
.wrapper ul li {
  margin: 15px 0;
}
.wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 5px 30px;
  color: #fff;
  border-radius: 50px;
  background: #000;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}
.wrapper ul li a:after {
  position: absolute;
  content: "";
  background: #fff;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  /*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
  width: 104%;
  height: 110%;
  left: -2%;
  top: -5%; /* if the font is 'Oswald'*/
  border-radius: 50px;
  transform: scaleY(0);
  z-index: -1;
  animation: rotate 1.5s linear infinite;
  transition: transform 0.3s ease;
}
.wrapper ul li a:hover:after {
  transform: scaleY(1);
}
.wrapper ul li a:hover {
  color: #fff;
}
input[type="checkbox"] {
  display: none;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  text-align: center;
  width: 100%;
  color: #202020;
}
.content .title {
  font-size: 40px;
  font-weight: 700;
}
.content p {
  font-size: 35px;
  font-weight: 600;
}

@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@media (max-width: 575.98px) {
  .table-responsive-sm {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  #introContainer {
    width: 95%;
  }

  #picContainer {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    height: 35vh;
    width: 95%;
    margin: auto;
  }

  #tableSelect {
    display: block;
  }

  #chatContainer {
    width: 95%;
  }

  #cover {
    height: auto;
  }
}

@media (max-width: 767.98px) {
  .table-responsive-md {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 991.98px) {
  .table-responsive-lg {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1199.98px) {
  .table-responsive-xl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 1399.98px) {
  .table-responsive-xxl {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
}

#intro {
  font-weight: 500;
  text-align: justify;
  font-size: 18px;
  background: linear-gradient(180deg, #000, rgb(255, 238, 0), #000);
  letter-spacing: 3px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(104, 31, 31, 0.3);
  background-repeat: no-repeat;
  background-size: 100% 65%;
  animation: shine 10s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-y: -200%;
  }
  100% {
    background-position-y: 350%;
  }
}

#introContainer {
  width: 60%;
  position: relative;
  text-align: center;
  height: auto;
  margin: auto;
}
